.articles-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  
.articles-container__loader {
    width: 100%;
    display: grid;
    place-items: center;
}

/* Moviles */
@media (max-width: 768px) {
    .articles-container {
        justify-content: start;
        flex-direction: column;
        overflow-x: scroll;
        height: 470px;
        /*width: 100%;*/
    }
}