.App {
  padding-bottom: 50px;
}
.section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tiles-searcher {
  display: flex;
  gap: 10px;
  padding: 100px 100px;
}
.form-container {
  margin-top: 20px;
}
.tiles-searcher__left {
  position: sticky;
  top: 100px;
  height: min-content;
  width: 20vw;
}
.tiles-searcher__right {
  width: 60vw;
  height: min-content;
}
