.App {
  padding-bottom: 50px;
}
.section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.articles-searcher {
  display: flex;
  gap: 10px;
  padding: 100px 100px;
}
.articles-searcher__left {
  position: sticky;
  top: 100px;
  height: min-content;
  width: 20vw;
}
.articles-searcher__right {
  width: 60vw;
  height: min-content;
}

/* Moviles */
@media (max-width: 768px) {
  .articles-searcher {
    display: grid;
    padding: 50px 50px;
  }
  .articles-searcher__left {
    position: relative;
    top: 0px;
  }

  .articles-searcher__right {
    position: relative;
  }
}