:root {
    --color-1: #3f454a;
    --color-1-modal: #3f454a55;
    --color-2: #d8ad3d;
    --color-2-modal: #d8ad3d55;
    --color-3: #009cd9;
    --color-3-modal: #009cd955;
    --color-4: #b72c2c;
    --color-4-modal: #b72c2c55;
    --color-black: #24272a;
    --color-black-modal: #24272a55;
    --color-white: #ffffff;
    --color-white-modal: #ffffff55;
}
